.home-template__header {
  display: flex;
  align-items: flex-end;
  margin-top: 4rem;
  margin-bottom: 3rem;
  border-bottom: solid var(--darkBlue-40) 1px;
  padding-bottom: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
  }
}

.home-template__main-title {
  font-size: 4.25rem;
  line-height: 1;
  font-weight: 700;

  span {
    color: var(--orange-70);
  }

  @media (max-width: 768px) {
    font-size: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 2.5rem;
  }
}

.home-template__subtitle {
  margin-bottom: 0.5rem;
  margin-left: auto;
  text-align: right;

  @media (max-width: 768px) {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 0;
    text-align: left;
  }

  @media (max-width: 480px) {
    font-size: 0.875rem;
  }
}

.post-list__item {
  margin: 2rem 0;
}

.post-preview {
  background: var(--darkBlue-60);
  border-radius: 15px;
  overflow: hidden;
  border: solid var(--darkBlue-40) 1px;
  transition: 0.3s ease-out;

  @media (min-width: 769px) {
    // Desktop specific styles
    &:hover {
      border-color: var(--darkBlue-30);

      h3 {
        text-decoration: underline;
      }
    }
  }
}

.post-preview__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.post-preview__tag-list {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  scrollbar-width: none;
  overflow: scroll;
  width: 100%;
}

.post-preview__content-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  p {
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
