.projects-template {
  padding: 4rem 0;

  &__header {
    margin-bottom: 4rem;
  }

  &__main-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 0 auto;
  }
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    margin: 2rem 0;
  }
}

.project-preview {
  background: var(--darkBlue-60);
  border-radius: 15px;
  overflow: hidden;
  border: solid var(--darkBlue-40) 1px;
  transition: 0.3s ease-out;

  @media (min-width: 769px) {
    &:hover {
      border-color: var(--darkBlue-30);

      .project-preview__title {
        text-decoration: underline;
      }
    }
  }

  &__image-link {
    position: relative;
    overflow: hidden;
    display: block;

    img {
      transition: 0.3s ease-out;
      display: block;
      width: 100%;
      height: auto;
    }

    @media (min-width: 769px) {
      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  &__featured-badge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--orange-50);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }

  &__tag-list {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    scrollbar-width: none;
    overflow: scroll;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  p {
    margin: 0;
    margin-top: 1rem;
  }
}
