:root {
  --darkBlue-10: #97b1d2;
  --darkBlue-20: #6683a7;
  --darkBlue-30: #465e7a;
  --darkBlue-40: #2e4665;
  --darkBlue-50: #152a44;
  --darkBlue-60: #132236;
  --darkBlue-70: #111d2e;
  --darkBlue-80: #101a27;
  --darkBlue-90: #0b141f;
  --darkBlue-100: #080f18;
  --darkBlue-110: #030a13;

  --orange-10: #fff0e6;
  --orange-20: #ffd9bf;
  --orange-30: #ffc299;
  --orange-40: #ffab72;
  --orange-50: #ff944c;
  --orange-60: #ff7d26;
  --orange-70: #ff6600;
  --orange-80: #cc5200;
  --orange-90: #993d00;
  --orange-100: #662900;
  --orange-110: #331400;
}
